<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
   <Package Name="Sboard 추출기" Manufacturer="류호준" Version="1.2.0.0"
           UpgradeCode="D4B3A60F-1A2C-4B8E-9F7D-6E5C4B3A2F1E"
           Language="1042" InstallerVersion="500" Compressed="yes"
           Scope="perMachine" Codepage="65001">
    <MajorUpgrade DowngradeErrorMessage="이미 더 최신 버전이 설치되어 있습니다." />
    <MediaTemplate EmbedCab="yes" />

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLDIR" Name="Sboard 추출기" />
    </StandardDirectory>
    <StandardDirectory Id="DesktopFolder" />
    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ApplicationProgramsFolder" Name="Sboard 추출기" />
    </StandardDirectory>

    <Feature Id="MainFeature" Title="Sboard 추출기" Level="1">
      <ComponentGroupRef Id="PublishFiles" />
      <ComponentRef Id="ShortcutDesktop" />
      <ComponentRef Id="ShortcutStartMenu" />
    </Feature>

    <ComponentGroup Id="Shortcuts">
      <Component Id="ShortcutDesktop" Directory="DesktopFolder" Guid="*">
        <Shortcut Id="DesktopShortcut" Name="Sboard 추출기"
                  Target="[INSTALLDIR]\Sboard 추출기.exe"
                  WorkingDirectory="INSTALLDIR"
                  Description="Sboard 자동 데이터 추출 프로그램" />
        <RemoveFolder Id="DesktopFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\류호준\Sboard 추출기"
                       Name="DesktopShortcut" Type="integer" Value="1" KeyPath="yes" />
      </Component>

      <Component Id="ShortcutStartMenu" Directory="ApplicationProgramsFolder" Guid="*">
        <Shortcut Id="StartMenuShortcut" Name="Sboard 추출기"
                  Target="[INSTALLDIR]\Sboard 추출기.exe"
                  WorkingDirectory="INSTALLDIR"
                  Description="Sboard 자동 데이터 추출 프로그램" />
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\류호준\Sboard 추출기"
                       Name="StartMenuShortcut" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Package>
</Wix>
